{% extends 'base.html' %}
{% load static %}

{% block title %}Purchases{% endblock %}

{% block content %}
    <div class="main-list-view-box">

        <div class="filter-form-box">
            <span class="total">Total: {{ total }}</span>
            <form method="GET" class="filter-form">
                {{ form }}
                <button type="submit" class="filter-btn">Filter</button>
            </form>
        </div>

        <div class="list-table-box">
            <table class="list-table">
                <tr>
                    <th>
                        <div class="th-box">
                            <span>Item Name</span>
                            <div class="sort-arrows-box">
                                <a href="{{ filter_url }}&sort_by=item">
                                    <i class="material-icons sort-icon">arrow_drop_up</i>
                                </a>
                                <a href="{{ filter_url }}&sort_by=-item">
                                    <i class="material-icons sort-icon">arrow_drop_down</i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="th-box">
                            <span>Producer</span>
                            <div class="sort-arrows-box">
                                <a href="{{ filter_url }}&sort_by=producer">
                                    <i class="material-icons sort-icon">arrow_drop_up</i>
                                </a>
                                <a href="{{ filter_url }}&sort_by=-producer">
                                    <i class="material-icons sort-icon">arrow_drop_down</i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="th-box">
                            <span>Price</span>
                            <div class="sort-arrows-box">
                                <a href="{{ filter_url }}&sort_by=-price">
                                    <i class="material-icons sort-icon">arrow_drop_up</i>
                                </a>
                                <a href="{{ filter_url }}&sort_by=price">
                                    <i class="material-icons sort-icon">arrow_drop_down</i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="th-box">
                            <span>Room</span>
                            <div class="sort-arrows-box">
                                <a href="{{ filter_url }}&sort_by=room">
                                    <i class="material-icons sort-icon">arrow_drop_up</i>
                                </a>
                                <a href="{{ filter_url }}&sort_by=-room">
                                    <i class="material-icons sort-icon">arrow_drop_down</i>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="th-box">
                            <span>Date of Purchase</span>
                            <div class="sort-arrows-box">
                                <a href="{{ filter_url }}&sort_by=date">
                                    <i class="material-icons sort-icon">arrow_drop_up</i>
                                </a>
                                <a href="{{ filter_url }}&sort_by=-date">
                                    <i class="material-icons sort-icon">arrow_drop_down</i>
                                </a>
                            </div>
                        </div>
                    </th>
                </tr>
                {% for item in items %}
                    <tr>
                        <td>{{ item.item }}</td>
                        <td>{{ item.producer }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.room }}</td>
                        <td>{{ item.date }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">There are no items added or matching filters!</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}