<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="nav-bar">
        <ul class="nav-list">
            <li>
                <a href="{% url "home" %}">
                    <i class="material-icons">home</i>
                    <span>home</span>
                </a>
            </li>
            <li>
                <a href="{% url "add_item" %}">
                    <span>add item</span>
                    <i class="material-icons">post_add</i>
                </a>
            </li>
            {% if not request.user.is_authenticated %}
                <li>
                    <a href="{% url "login" %}">
                        <span>Login</span>
                    </a>
                </li>
                <li>
                    <a href="{% url "register" %}">
                        <span>register</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <div class="content-box">
            {% block content %}{% endblock %}
    </div>

</body>
</html>