<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<nav class="nav-bar">
    <ul class="nav-list">
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'lists' %}">My Lists</a>
            </li>
            <li>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>
            <li>
                User: {{ user.username }}
            </li>
        {% else %}
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            <li>
                <a href="{% url 'register' %}">Register</a>
            </li>
        {% endif %}
    </ul>
</nav>

<div class="content-box">
    {% block content %}{% endblock %}
</div>
</body>

</html>